.env
data/pt_guideline_data
chroma_db
tests/integration_testing/cache
tests/integration_testing/rag_infer_logs_train
tests/integration_testing/rag_infer_logs_test
tests/integration_testing/rag_infer_logs_val
tests/integration_testing/synthetic_test_data
tests/integration_testing/synthetic_val_data
tests/integration_testing/synthetic_train_data
tests/integration_testing/test_results
src/integration/__pycache__
.DS_Store
src/cv/checkpoints/qevd_full_m_v2/epoch_1250.pt
